{% extends 'book_app/base.html' %}
{% load static %}

<!-- title block -->
{% block title %} - Login{% endblock %}

<!-- Custom styles for this page -->
{% block pagecss %}
<link href="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Page level plugins -->
{% block pageplugin %}
<script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h2 class="h2 mb-2 text-gray-800">ログイン</h2>

    <!-- サインアップ -->
    <p class="#">初めてですか？<a href="/accounts/signup/">サインアップ</a></p>

    <!-- login form -->
    {% if form.errors %}
    <p class="mb-4">落ち着いてユーザー名とパスワードを入力して欲しい。</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p class="mb-4">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p class="mb-4">Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" class="btn btn-primary" value="ログイン" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

</div>
<!-- /.container-fluid -->
{% endblock %}