{% extends 'book_app/base.html' %}
{% load static %}

<!-- title block -->
{% block title %} - Product List{% endblock %}

<!-- Custom styles for this page -->
{% block pagecss %}
<link href="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Page level plugins -->
{% block pageplugin %}
<script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
  // Call the dataTables jQuery plugin
  $(document).ready(function () {
    var table = $('#dataTable').DataTable({
      // define default order
      "order": [[5, "desc"]],
      // DOM positioning
      "dom": '<"row" <"col"l><"col"p><"col"f> > rt <"row" <"col"l><"col"p><"col"> >'
    });

    // do on click
    $('#dataTable').on('click', 'td', function () {
      var row_number = table.column(this).index();
      // just author or circle column
      if (row_number == 2 || row_number == 3) {
        // get data where you clicked
        var data = table.cell(this).data();
        // just neither None nor blank(undefined)
        if (data != 'None' && data != undefined) {
          // input to serach query form and redraw
          table.search(data).draw();
        }
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid mt-3 mb-3">

  <!-- Page Heading -->
  <div class="row">
    <div class="mr-auto">
      <h2 class="h2 mb-2 text-gray-800">購入済み商品の一覧</h2>
      <p class="mb-4">著者またはサークル名をクリックするとその内容で検索されます。</p>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <!-- functions -->
    <div class="col-auto">
      <a class="btn btn-primary" href="{% url 'product_new' %}">追加</a>
    </div>

    <div class="col-auto">
      <a class="btn btn-secondary" href="{% url 'product_new_from_url' %}">URLから連続追加</a>
    </div>
  </div>


  <!-- DataTales Example -->

  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    </tableclass>
    <thead>
      <tr>
        <th width="120px">表紙</th>
        <th width="20%">題名</th>
        <th width="20%">著者</th>
        <th width="20%">サークル名</th>
        <th>購入日</th>
        <th>追加日</th>
        <th>商品情報</th>
      </tr>
    </thead>
    <tbody>
      {% for products in products %}
      <tr>
        <td>
          {% if products.image_path %}
          {% if products.url %}<a href="{{products.url}}" target="_blank" rel="noopener noreferrer">{% endif %}
            <img src="{{ MEDIA_URL }}{{ products.image_path }}" height="100"></img>
            {% if products.url %}</a>{% endif %}
          {% endif %}
        </td>
        <td>
          <!-- start  spinner -->
          {% if products.title == 'loading' %}
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          {% endif %}
          <!-- end  spinner -->

          <!-- start  product name -->
          {% if products.url %}
          <a href="{{products.url}}" target="_blank" rel="noopener noreferrer">{{products.title}}</a>
          {% if products.shop %}<br><span class="badge badge-primary">{{products.get_shop_display}}</span>{% endif %}
          {% else %}
          {{ products.title }}
          {% endif %}
          <!-- end  product name -->
        </td>
        <td>{{products.author}}</td>
        <td>{{products.circle}}</td>
        <td>{{products.bought_date}}</td>
        <td><a href="{% url 'product_edit' products.pk %}">{{products.added_date | date:"Y/m/d H:i:s"}}</a></td>
        <td>{% if products.url %}
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="pk" value="{{products.pk}}">
            <button type="submit" class="btn btn-primary">更新</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
<!-- /.container-fluid -->
{% endblock %}