{% extends 'book_app/base.html' %}
{% load widget_tweaks %}

<!-- title block -->
{% block title %} - Product New{% endblock %}

<!-- Custom styles for this page -->
{% block pagecss %}
{% endblock %}

<!-- Page level plugins -->
{% block pageplugin %}
{% endblock %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <h2>本を追加</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-auto">
                {{ form.shop.label_tag }}
                {{ form.shop | add_class:"form-control" }}
            </div>
            <div class="form-group col">
                {{ form.url.label_tag }}
                {{ form.url | add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title | add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.author.label_tag }}
            {{ form.author | add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.circle.label_tag }}
            {{ form.circle | add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.date.label_tag }}
            {{ form.date | add_class:"form-control" }}
        </div>
        <div class="form-group custom-file my-4">
            <label class="custom-file-label" for="customFile">表紙ファイルを選択</label>
            {{ form.image_path | add_class:"custom-file-input" }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="submit" class="btn btn-danger" name="delete">この本を削除</button>
            <button type="submit" class="btn btn-warning" name="image_delete">表紙ファイルを削除</button>
        </div>
    </form>

</div>
<!-- /.container-fluid -->
{% endblock %}